*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header{
    height:80px;

    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 27, 27);
    padding:0px 16px;

}
header ul{
        margin:0 16px ;    
}

header ul li{
    display:inline-block;
    padding:0px 16px;
    color:black
}

/*main parts starts from here*/

main{

    background:rgb(177, 110, 110);"https://th.bing.com/th/id/OIP.oMsKADUzUFaHmB4Tvsk6NgEsCo?pid=ImgDet&rs=1"
    background-repeat:no-repeat;
    background position:center;
    background size:cover;
    height:90vh;
    display:flex;
    /*justify-content:center; */
    align items:center;

}
main div h1 {
    color:rgb(8, 8, 54)
    text-align:center

}
main div p {
    color: rgb(12, 12, 58);
    width: 70%;
    margin:auto;

}
footer {
    height: 150px;
    background:navy
    display: flex
    justify content:center;
    align items:center;

}
footer ul li {
    display:inline block;
    padding:10px 16px;
    background:rgb(82, 18, 18)
    border radius:10px;
}
